.hero{
    height: 100vh;
    // background: linear-gradient(180deg, #0c0c1d, #111132);
    background: #081b29;
    overflow: hidden;
    position: relative;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;


        .textContainer{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
           


            h1{
                font-size: 60px;
                letter-spacing: 3px;

                .name{
                    color: #ffd104;
                }
            }

            h2{
                font-size: 40px;
                letter-spacing: 3px;
                
            }

            .buttons{
                display: flex;
                gap: 30px;
                z-index: 1;
                margin-top: 40px;
        
        
                .button{
                    border: 1px solid #ffd104;
                    border-radius: 8px;
                    width: 250px;
                    text-align: center;
                    padding: 10px;
                    text-decoration: none;
                    color: #ffd104;
                    font-size: 20px;
                }

                .button:hover{
                    border: 1px solid #fff;
                    color: #fff;
                }
            }

        }

    }

    .slideTextContainer{
        position: absolute;
        bottom: -120px;
        font-size: 50vh;
        white-space: nowrap;
        color: #ffffff09;
        width: 100%;
        font-weight: bold;
    }

    .imageContainer{
        height: 100%;
        position: absolute;
        top: 120px;
        right: 100px;


        img{
            height: 80%;
        }
    }
}