@import "../../App.scss";



.portfolio {
  position: relative;
  background: #081b29;
  padding: 0 50px;
  

  @include mobile{
    padding: 0 20px 50px 20px;
    
  }
 

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 30px;
    text-align: center;

    
    
    


    h1 {
      font-size: 60px;
      font-weight: 600;
    

      span{
        color: #ffd104;
      }
  

      @include mobile{
        font-size: 40px;
      }

    }

    .progressBar {
      height: 7px;
      margin: 5px auto;
      background-color: #fff;
    }
  }

  .portfolioSection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 150px);
    
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  
    
   

    .wrapper {
      min-width: 90%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
     
    


      @include tablet{
        width: 100%;
        
      }

      @include mobile{
        flex-direction: column;
        text-align: center;
      }
      

      .imageContainer {
        flex: 1;
        text-align: center;
       
      

        @include mobile{
          width: 100%;
        }
        

        img {
          width: 600px;
          height: 600px;
          object-fit: cover;
          background-position: center;
          border-radius: 5px;
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
        text-align: center;
       
       

        @include tablet{
          text-align: center;
          
        }

        @include mobile{
          transform: none !important;
        }

        


        h2{
            font-size: 50px;

            @include mobile{
              font-size: 30px;
            }
        }
        

        p{
            color: gray;
            font-size: 20px;
        }

        button{
            width: 250px;
            border: 1px solid #ffd104;
            background: none;
            padding: 12px 10px;
            font-size: 20px;
            border-radius: 8px;
            color: #ffd104;
            cursor: pointer;
            margin: auto;
            


           
        }
        button:hover{
            border: 1px solid #fff;
            color: #fff;
        }
      }
    }
  }
}
