@import "../../../App.scss";


.skills-info-card{
    min-height: 30rem;
    border-radius: 0.65rem;
    background: linear-gradient(180deg, #081b29 0%, #036685 100%);
    
   


    h6{
        font-size: 30px;
        font-weight: 500;
        padding: 1.5rem 2rem;
        border-bottom: 1.5px solid #fff;


        @include mobile{
            font-size: 25px;
        }
    }


    .skill-info-content{
        padding: 2rem;


        .skill-info{
            display: flex;
            align-items: center;
            justify-content: space-between;


            p{
                font-size: 20px;
                font-weight: 500;

                @include mobile{
                    font-size: 1.2rem;
                }
            }

            .percentage{
                color: #fff
            }
        }

        .skill-progress-bg{
            width: 100%;
            height: 0.5rem;
            background: #fff;
            border-radius: 0.65rem;
            margin: 1rem 0 2rem 0;
           


            .skill-progress{
                height: 0.5rem;
                background: linear-gradient(90deg, #0080a3 0%,#00c3ff 100%);
                border-radius: 0.5rem;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}