.skills-card{
    border-radius: .65rem;
    border: 1.5px solid #6852ba;
    padding: 2.5rem;
    text-align: center;
    background: rgba(22, 17, 47, 0.398);
    backdrop-filter: blur;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    


    .skill-icon{
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2a2252;
        border-radius: 0.65rem;
        border: 1.5px solid #6852ba;
        position: absolute;
        top: -1rem;
        left: -1rem;

        
       

        img{
            width: 2.4rem;
            height: auto;
            object-fit: contain;
        }
    }

    span{
        font-size: 30px;
        font-weight: 500;
    }
}


.skills-card:hover,
.skills-card:active{
    background: linear-gradient(180deg, #aa94fe 0%,#7c5fe6 100%);
}