@import "../../../App.scss";

.skills-card{
    border-radius: .65rem;
    background: linear-gradient(180deg, #081b29 0%, #036685 100%);
    height: 10rem;
    text-align: center;
    backdrop-filter: blur;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    


    .skill-icon{
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #132c41;
        border-radius: 0.65rem;
        border: 1.5px solid white;
        position: absolute;
        top: -1rem;
        left: -1rem;

        
       

        img{
            width: 100%;
            padding: 0.5rem;
            object-fit: contain;
        }
    }

    span{
        font-size: 30px;
        font-weight: 500;


        @include mobile{
            font-size: 20px;
        }
    }
}


.skills-card:hover,
.skills-card:active{
    background: linear-gradient(180deg, #ffd104 0%,#141100 100%);
    scale: 1.1;
    rotate: -5deg;
    border: none;
    border-radius: .65rem;
}