html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body{
    // background-color: #0c0c1d;
    background: #081b29;
    color: #fff;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

.link{
    text-decoration: none;
    color: inherit
}